body{
    background: #30abaa ;
    direction: rtl;
}
button{
    background: #ef33914a;
}
#create{
    display: none;
}
nav{
    display: flex;
    justify-content: space-between;
    opacity: 40%;
    background: #6d7676;
}
.extent{
    display: flex;
    flex-direction: column;
    /* background: white; */
    /* position: absolute; */
    justify-self: center;
    align-self: center;
    margin-right: 80%;
    width: 30em;
    border-radius: 40px;
    background: rgb(179, 216, 179);
    
}
#deskNews{
    display: grid;
    /* grid-template-rows: 50% 50%; */
    grid-template-columns: 30% 30%;
    gap: 10em;
    justify-self: center;
    align-self: center;
    height: 100%;
    width: 90%;
}
.card{
    /* display: grid;
    grid-template-areas: "img author"
                        "img title"
                        "img dis"; */
    background: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-style: groove;
    gap: 20em;
    
}
.author{
    grid-area: author;
    font-size: small;
}
.title{
    font-size: larger;
    grid-area: title
}
.des{
    grid-area: dis;
    font-size: medium;
}
.urlToImage{
    grid-area: img;
    width: 12em;
}